* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    cursor: url(img/alien.png), auto;
  }
  
  .box {
    height: 100%;
    width: 100%;
    background-color: white;
    background-position: center;
    background-size: cover;
    position: absolute;
  }
  
  .form {
    width: 400px;
    height: 490px;
    position: relative;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
    overflow: hidden;
    border: 1px #000000 solid;
    border-radius: 10px;
  }
  
  .button-form {
    width: 230px;
    margin: 40px auto;
    position: relative;
    border-radius: 30px;
  }
  
  .toggleButton{
    padding: 10px 30px;
    background: transparent;
    border: 0;
    color: white;
    outline: none;
    position: relative;
  }
  
  #button {
    top: 0;
    left: 0;
    position: absolute;
    padding-right: 2px;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #302e53, #274579, #1f66ad, #40b3d6);
    border-radius: 30px;
    transition: .5s;
  }
  
  .input-group {
    top: 135px;
    position: absolute;
    width: 280px;
    transition: .5s;
  }
  
  .input-field {
    width: 100%;
    padding: 10px 0;
    margin-left: 10px;
    margin-top: 20px;
    border: none;
    border-bottom: 1px solid #999;
    text-align: center;
    background: transparent;
    outline: none;
  }
  
  .input-field:focus {
    border-bottom: 1px #e677ff solid;
  }
  
  .submit {
    width: 85%;
    height: 45px;
    padding: 10px 30px;
    color: white;
    display: block;
    margin-left: 30px;
    background: linear-gradient(to right, #302e53, #274579, #1f66ad, #40b3d6);
    border: 0;
    outline: none;
    border-radius: 30px;
    border: 1px black solid;
  }
  
  .checkbox {
    margin: 30px 10px 30px 0;
  }
  
  span {
    color: #777;
    font-size: 11px;
    bottom: 68px;
    position: absolute;
  }
  
  #login {
    left: 55px;
  }
  #register {
    left: 450px;
  }